@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  color: #fff;
}

body {
  min-height: 100vh;
  background-color: blue;
}

section {
  width: 100%;
  max-width: 420px;
  min-width: 400px;
  display: flex;
  /* align-item: center; */
  margin-left: 450px; 
  flex-direction: column;
  /* justify-content: flex-start; */
  padding: 1rem;
  background-color: rgba(0,0,0,0.4);
}
section h1{
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  /* align-item: center; */
  /* margin-left: 200px; */
  flex-grow: 1;
  padding-bottom: 1rem;
}

input{
  padding: 5px 10px;
  /* border: none; */
  margin-bottom: 2rem;

}

.instructions {
  font-size: 0.75 rem;
  border-radius: 0.5 rem;
  background: #000;
  color: #fff;
  padding: 0.25 rem;
  position: relative;
  bottom: -10px;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display:none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}
.errmsg {
  background-color : lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
